/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; 

body{
  @apply bg-black
} 

.nav-list{
  @apply text-[#fff]  hover:bg-black p-4
} 

.nav-icon{
  @apply p-4  hover:bg-black 
}  

button{
  @apply bg-orange-500 p-2 hover:bg-orange-300 transition delay-100
} 

.card{
  @apply bg-yellow-200 h-[450px] w-[300px] rounded-md 
}